* {
  box-sizing: border-box;
}

.container {
  height: 200px;
  width: 600px;
  background-color: #3f51b5;
}

.player-container {
  height: 200px;
  width: 400px;
  overflow: hidden;
  padding: 10px;
}

.album-art-container {
  height: 200px;
  width: 200px;
  float: left;
  padding: 10px;
}

#cover-image {
  border: 1px solid #002984;
  border-radius: 2px;
  width: 180px;
  height: 180px;
}

.side-to-side {
  width: 380px;
}

.player-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* margin: 2px; */
}

#album {
  color: #ffffff;
}

#artist {
  color: #ffffff;
}

#title {
  color: #ffffff;
}

#elapsed {
  color: #ffffff;
  float: right;
}

circle {
  stroke: #320b86;
  stroke-width: 2px;
  fill: none;
}

polygon {
  stroke: #320b86;
  stroke-width: 1px;
  fill: #320b86;
}

svg {
  height: 50px;
  width: 50px;
}

svg:hover {
  opacity: 50%;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 13pt;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  cursor: default;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 8pt;
  font-weight: 400;
  cursor: default;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 13pt;
  font-weight: 300;
  color: white;
  cursor: default;
}
